## Factors and Levels

In [1]:
x <- c(5,12,13,12)
xf <- factor(x)

In [2]:
xf

[1] 5  12 13 12
Levels: 5 12 13

In [3]:
str(xf)

 Factor w/ 3 levels "5","12","13": 1 2 3 2

In [4]:
unclass(xf)

[1] 1 2 3 2
attr(,"levels")
[1] "5"  "12" "13"

### Anticipate unseen levels

In [7]:
xf[5] <- 88

Warning message in `[<-.factor`(`*tmp*`, 5, value = 88):
“invalid factor level, NA generated”

In [12]:
xf

[1] 5    12   13   12   <NA>
Levels: 5 12 13

In [8]:
xff <- factor(x, levels=c(5,12,13,88))

In [9]:
xff

[1] 5  12 13 12
Levels: 5 12 13 88

In [10]:
xff[5] <- 88

In [11]:
xff

[1] 5  12 13 12 88
Levels: 5 12 13 88

## `tapply()`

In [13]:
ages <- c(25,26,55,37,21,42)
political_affiliations <- c("R","D","D","R","U","D")

In [15]:
tapply(ages, political_affiliations, mean)

 D  R  U
41 31 21

In [17]:
df <- data.frame(list(
    gender=c("M","M","F","M","F","F"),
    age=c(47,59,21,32,33,24),
    income=c(55000,88000,32459,76500,123000,45650)
))
df

  gender age income
1 M      47   55000
2 M      59   88000
3 F      21   32459
4 M      32   76500
5 F      33  123000
6 F      24   45650

In [19]:
df$over25 <- as.integer(df$age > 25)
df

  gender age income over25
1 M      47   55000 1
2 M      59   88000 1
3 F      21   32459 0
4 M      32   76500 1
5 F      33  123000 1
6 F      24   45650 0

In [21]:
tapply(df$income,list(df$gender,df$over25),mean)

  0       1
F 39054.5 123000.00
M      NA  73166.67

## `split()`

In [23]:
split(df$income,list(df$gender,df$over25))

$F.0
[1] 32459 45650

$M.0
numeric(0)

$F.1
[1] 123000

$M.1
[1] 55000 88000 76500

In [25]:
split(1:6, df$gender)

$F
[1] 3 5 6

$M
[1] 1 2 4

## `by()`

In [28]:
aba <- read.csv("Abalone.data", header = F)

In [32]:
colnames(aba) <- c("Sex","Length","Diameter","Height","Whole weight","Shucked weight","Viscera weight","Shell weight","Rings")

In [34]:
head(aba)

  Sex Length Diameter Height Whole weight Shucked weight Viscera weight
1 M   0.455  0.365    0.095  0.5140       0.2245         0.1010
2 M   0.350  0.265    0.090  0.2255       0.0995         0.0485
3 F   0.530  0.420    0.135  0.6770       0.2565         0.1415
4 M   0.440  0.365    0.125  0.5160       0.2155         0.1140
5 I   0.330  0.255    0.080  0.2050       0.0895         0.0395
6 I   0.425  0.300    0.095  0.3515       0.1410         0.0775
  Shell weight Rings
1 0.150        15
2 0.070         7
3 0.210         9
4 0.155        10
5 0.055         7
6 0.120         8

In [38]:
by(aba,aba$Sex, function(m) lm(m$Length ~ m$Diameter))

aba$Sex: F

Call:
lm(formula = m$Length ~ m$Diameter)

Coefficients:
(Intercept)   m$Diameter
    0.04288      1.17918

------------------------------------------------------------
aba$Sex: I

Call:
lm(formula = m$Length ~ m$Diameter)

Coefficients:
(Intercept)   m$Diameter
    0.02997      1.21833

------------------------------------------------------------
aba$Sex: M

Call:
lm(formula = m$Length ~ m$Diameter)

Coefficients:
(Intercept)   m$Diameter
    0.03653      1.19480

## Tables

In [39]:
u <- c(22,8,33,6,8,29,-2)
fl <- list(
        c(5,12,13,12,13,5,13),
        c("a","bc","a","a","bc","a","a")
      )
tapply(u,fl,length)

   a bc
5  2 NA
12 1  1
13 2  1

In [41]:
!ps

ERROR: Error in eval(expr, envir, enclos): object 'ps' not found