# Lists

It is considered a best practice to use string names for your **tags** in a list.

In [1]:
j <- list(name="Joe", salary=55000, union=T)

In [2]:
j

$name
[1] "Joe"

$salary
[1] 55000

$union
[1] TRUE

##### Don't do this

In [3]:
j_dontdo <- list("Joe",55000,T)

In [4]:
j_dontdo

[[1]]
[1] "Joe"

[[2]]
[1] 55000

[[3]]
[1] TRUE

## Accessing List Components

In [5]:
j$name

[1] "Joe"

In [6]:
j['salary']

$salary
[1] 55000

In [7]:
j[3]

$union
[1] TRUE

### Adding Components

In [8]:
j$age <- 42.0

In [9]:
j

$name
[1] "Joe"

$salary
[1] 55000

$union
[1] TRUE

$age
[1] 42

In [10]:
j$union <- NULL

In [11]:
j

$name
[1] "Joe"

$salary
[1] 55000

$age
[1] 42

### `length`

Since a list is a vector, you can obtain the number of components in a list via `length()`.

In [12]:
length(j)

[1] 3

### `names`

If the components in a list do have tags, as is the case with `name`, `salary`, and `age`, you can obtain them via `names()`:

In [13]:
names(j)

[1] "name"   "salary" "age"

To obtain the values, use `unlist()`:

In [14]:
unlist(j)

   name  salary     age
  "Joe" "55000"    "42"

### Why are these all strings?

## Recursive Lists

In [15]:
b <- list(u=5, v=12)
c <- list(w=13)
a <-list(b=b, c=c)

In [16]:
a

$b
$b$u
[1] 5

$b$v
[1] 12


$c
$c$w
[1] 13