## Two Ways of Viewing the Data Frame

A matrix can be thought of as a vector of vectors.

A dataframe can be thought of as a list of lists or a vector of lists.

Let's briefly consider why we would need such a data structure.

In an employee data set, for example, we might have character string data, such as employee names, and numeric data, such as salaries. So, although a data set of (say) 50 employees with 4 variables per worker has the look and feel of a 50-by-4 matrix, it does not qualify as such in R, because it mixes types.

In [1]:
employee_1 <- c(name='Alice', salary=87000)
employee_2 <- c(name='Bob', salary=81000)
employee_3 <- c(name='Carol', salary=88000)
employee_4 <- c(name='Dean', salary=87000)

In [2]:
employees <- list(employee_1, employee_2, employee_3, employee_4)

In [8]:
employees_df <- as.data.frame(t(as.data.frame(employees)))
rownames(employees_df)<-NULL
employees_df

  name  salary
1 Alice 87000
2 Bob   81000
3 Carol 88000
4 Dean  87000

In [9]:
salaries = c(87000, 81000, 88000, 87000)
names = c('Alice','Bob','Carol','Dean')
df <- data.frame(list(name=names, salary=salaries))

In [10]:
df$name

[1] Alice Bob   Carol Dean
Levels: Alice Bob Carol Dean