Suppose we have a function `f()` that we wish to apply to all elements of a vector `x`. In many cases, we can accomplish this by simply calling `f()` on `x` itself.

This can really simplify our code and, moreover, give us a dramatic performance increase of hundredsfold or more.

One of the most effective ways to achieve speed in R code is to use operations that are vectorized, meaning that a function applied to a vector is actually applied individually to each element.

## Vector In, Vector Out

In [1]:
u <- c(5,2,8)
v <- c(1,3,9)
u > v

[1]  TRUE FALSE FALSE

In [2]:
w <- function(x) return(x+1)
w(u)

[1] 6 3 9

In [10]:
t <- c(10,0)

In [11]:
u > t

Warning message in u > t:
“longer object length is not a multiple of shorter object length”

[1] FALSE  TRUE FALSE

In [3]:
sqrt(u)

[1] 2.236068 1.414214 2.828427

In [4]:
log(u)

[1] 1.6094379 0.6931472 2.0794415

In [5]:
cos(u)

[1]  0.2836622 -0.4161468 -0.1455000

In [6]:
exp(u)

[1]  148.413159    7.389056 2980.957987

In [7]:
exp(log(u))

[1] 5 2 8

In [12]:
round(sqrt(u))

[1] 2 1 3

Since we know that R has no scalars, let’s consider vectorized functions that appear to have scalar arguments.

In [ ]:
f <- function(x,c) return((x+c)**2)

In [ ]:
f(1:4,2)

Here `x+c` becomes

$$
\left(\begin{matrix}1 \\ 2 \\ 3 \\ 4 \end{matrix}\right) +
\left(\begin{matrix}2 \\ 2 \\ 2 \\ 2 \end{matrix}\right) =
\left(\begin{matrix}3 \\ 4 \\ 5 \\ 6 \end{matrix}\right)
$$

Which then is squared element-wise to become

$$
\left(\begin{matrix}9 \\ 16 \\ 25 \\ 36 \end{matrix}\right)
$$

In [ ]:
f <- function(x,c) {
    if (length(c) != 1) {
        stop("vector c not allowed")
    }
    return((x+c)**2)
}

In [ ]:
f(1:4,2:3)

## Vector In, Matrix Out

The vectorized functions we’ve been working with so far have scalar return values. Calling `sqrt()` on a number gives us a number. If we apply this function to an eight-element vector, we get eight numbers, thus another eight-element vector, as output.

But what if our function itself is vector-valued, as `z12()` is here:

In [13]:
z12 <- function(z) return(c(z,z^2))

In [14]:
z12(1:8)

 [1]  1  2  3  4  5  6  7  8  1  4  9 16 25 36 49 64

This output would probably be better as a matrix.

In [15]:
matrix(z12(1:8),ncol=2)

     [,1] [,2]
[1,] 1     1
[2,] 2     4
[3,] 3     9
[4,] 4    16
[5,] 5    25
[6,] 6    36
[7,] 7    49
[8,] 8    64

In [16]:
z12 <- function(z) return(matrix(c(z^0,z,z^2), ncol=3))

In [17]:
z12(1:8)

     [,1] [,2] [,3]
[1,] 1    1     1
[2,] 1    2     4
[3,] 1    3     9
[4,] 1    4    16
[5,] 1    5    25
[6,] 1    6    36
[7,] 1    7    49
[8,] 1    8    64

## NULLs

Readers with a background in other scripting languages may be aware of “no such animal” values, such as None in Python and undefined in Perl. R actually has two such values: `NA` and `NULL`.

In statistical data sets, we often encounter missing data, which we represent in R with the value `NA`. 

`NULL`, on the other hand, represents that the value in question simply doesn’t exist, rather than being existent but unknown. 

Let’s see how this comes into play in concrete terms.

In [18]:
x <- c(88,NA,12,168,13)

In [19]:
mean(x)

[1] NA

In [20]:
mean(x,na.rm=T)

[1] 70.25

In [21]:
x <- c(88,NULL,12,168,13)

In [22]:
mean(x)

[1] 70.25

## Filtering

Another feature reflecting the functional language nature of R is filtering. 

This allows us to extract a vector’s elements that satisfy certain conditions.

Filtering is one of the most common operations in R, as statistical analyses often focus on data that satisfies conditions of interest.

In [23]:
z <- c(5,2,-3,8)

In [24]:
z[z**2 > 8]

[1]  5 -3  8

In [25]:
z*z > 8

[1]  TRUE FALSE  TRUE  TRUE

In [26]:
y <- c(1,2,30,5)

In [27]:
z

[1]  5  2 -3  8

In [28]:
y[z**2 > 8]

[1]  1 30  5

Again, the point is that in this example, we are using one vector, `z`, to determine indices to use in filtering another vector, `y`. 

In contrast, our earlier example used `z` to filter itself.

In [29]:
x <- c(1,3,8,2,20)

In [30]:
 x[x > 3] <- 0

In [31]:
x

[1] 1 3 0 2 0

#### `subset`

In [32]:
x <- c(6,1:3,NA,12)

In [33]:
x[x > 5]

[1]  6 NA 12

In [34]:
subset(x,x > 5)

[1]  6 12

#### `which`

In [35]:
z <- c(5,2,-3,8)
which(z*z > 8)

[1] 1 3 4

#### `ifelse`

In [36]:
x <- 1:10

In [37]:
y <- ifelse(x %% 2 == 0,0,x)

In [38]:
y

 [1] 1 0 3 0 5 0 7 0 9 0

## Vector Equality

The standard approach does an element-wise comparison. What if we wish to know if the vectors themselves are equal?

In [ ]:
x <- 1:3
y <- c(1,3,4)
z <- c(1,2,3)
x == y

In [ ]:
all(x == y); all(x == z)

In [ ]:
identical(x,y); identical(x,z)

In [ ]:
typeof(x); typeof(z)

## Vector Element Names

In [ ]:
x <- c(1,2,4)

In [ ]:
names(x)

In [ ]:
names(x) <- c("a","b","ab")

In [ ]:
names(x)

In [ ]:
x['a']

## Our friend, `c()`

If the arguments you pass to c() are of differing modes, they will be reduced to a type that is the lowest common denominator, as follows:

In [ ]:
c(5,2,"abc")

In [ ]:
c(5,2,list(a=1,b=4))

Another point to keep in mind is that c() has a flattening effect for vectors, as in this example:

In [ ]:
c(5,2,c(1.5,6))